---
layout: post-index
---
<article class="stuff-info-panel" style="margin-bottom: 5px; background-color: lightgreen; padding: 8px;">
    <p style="display: block; font-size: 25px; text-align: center; margin: 0px; color: darkgreen;">Our Games</p>
</article>
{% for post in site.categories.projects %}
    {% include project-article-indexing.html post=post %}
{% endfor %}
<article class="stuff-info-panel" style="margin-bottom: 5px; background-color: lightgreen; padding: 8px;">
    <p style="display: block; font-size: 25px; text-align: center; margin: 0px; color: darkgreen;">Other Stuff</p>
</article>
{% for post in site.categories.other-projects %}
    {% include project-article-indexing.html post=post %}
{% endfor %}
<div class="pagination">
<center>
{% include pagination.html %}
</center>
    </div>