<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
    {% include head.html %}

    <!-- HEADER IMAGE -->
    <!-- <center>
        <span class="main-header-image">
            <a href="/"><img src="/images/header/clean-and-simple-header.jpg"></a>
        </span>
    </center> -->
    <br>
    {% include banner.html %}

    <!-- NAVIGATION -->
    <br>
    {% include navigation.html %}
</head>

<!-- BODY -->
<body id="post-index">
    {% include browser-upgrade.html %}

    <div id="main" role="main">
        <article class="hentry">

            <div class="featured-image">
            <img src="{{ page.featured-image}}" style="width:100%">
            <div class="green-bar"></div>
            </div>

            <!-- MAIN -->
            <h1 class="entry-title centered-text">
                <a>{{ page.type | capitalize }} for {{ page.product-fancy }}: {{ page.title }} - {{ page.version }}</a>
            </h1>
            <h3 class="entry-subtitle">
                <p>(Released {{ page.date | date: "%d/%m/%y" }}) - {{ page.short-desc }}</p>
            </h3>

            <hr>

            <!-- PLAY NOW LINK -->
            {% if page.play-now-link != nil %}
            <div style="text-align: center">
                <a href="{{ page.play-now-link }}" style="color: blue">{{page.play-now-text}}</a>
            </div>
            {% endif %}

            <!-- POST CONTENT -->
            <div class="entry-content">
                {{ page.content }}
            </div>

            <!-- SCREENSHOTS SECTION -->
            {% if page.screenshots != empty and page.screenshots != nil %}
            <h3 class="centered-text">Screenshots</h3>
            <div class="screenshots-container" style="margin-bottom: 5px;">
                <a href="" id="large_screenshot_link">
                    <img src="" class="screenshot-large" id="large_screenshot">
                </a>
            </div>
            <script>
                function changeFeaturedScreenshot(newSrc) {
                    document.getElementById("large_screenshot").setAttribute("src", newSrc);
                    document.getElementById("large_screenshot_link").setAttribute("href", "{{ site.url }}"+newSrc);
                }
                changeFeaturedScreenshot('{{ page.screenshots[0] }}')
            </script>
            <div class="screenshots-container" style="border-color: transparent;">
                {% for screenshot in page.screenshots %}
                <div> <!--href="{{ site.url }}{{ screenshot }}"-->
                    <div onmouseover="changeFeaturedScreenshot('{{ screenshot }}')">
                        <img src="{{screenshot}}" class="screenshot">
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <!--- DIVIDING LINE -->
            <hr>

            <!-- POST DATE -->
            {% unless post.categories contains 'projects' %}
            <div class="post-date" style="clear:both">
                    {{ page.date-string }}
            </div>
            {% endunless %}

            <br>
            
            <!-- POST TAGS (only shown if a post has them) -->
            {% if page.tags != empty %} 
                <p>Tags:</p>
                <div class="inline-tags">
                    <span>
                        {% for tag in page.tags %}
                            <a href="/tags/#{{tag}}">{{ tag }}&nbsp;&nbsp;&nbsp;</a>
                        {% endfor %}
                    </span>
                </div>
            {% endif %}
        </article>
    </div>
</body>

<!-- FOOTER -->
<footer>
    <div class="footer-wrapper">
        <footer role="contentinfo">
            {% include footer.html %}
        </footer>
    </div>
</footer>
</html>
